.icon {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 15px;
    width: 3px;
    margin: 20px 15px;

    /* Primary/Base */

    background: #1890FF;
    border-radius: 4px;
}