.product {
    position: absolute;
    bottom: -200px;
    left: 230px;


}

.number {
    color: blue;
}

.active {
    width: 107px;
    height: 20px;

    font-family: 'Averta';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;
    text-align: center;

    /* Secondary/Green */

    color: #09B530;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 4px;
    border: 1px solid #09B530;
    border-radius: 5%;
}

.notify {
    height: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 10px;

    position: absolute;
    width: 272px;
    height: 72px;
    left: 1100px;
    top: 60px;
    color: #fff;

    /* Secondary/Green */

    background: #09B530;
    /* Shadow 1 */

    box-shadow: 0px 4px 24px rgba(31, 31, 31, 0.08);
    border-radius: 4px;
}