#components-layout-demo-responsive .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}

.sidebar {
    background-color: #2C3A57;
}

@media only screen and (max-width: 1150px) {
    .display {
        display: none;
    }
}