.product {
    text-align: left;
    transform: translateY(-48px);

}

.number {
    color: blue;
}

.footer {
    background-color: #333;
    height: var(--default-layout-footer);
}

.content {
    overflow-y: auto;
    height: 600px;
}

.priority {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    width: 120px;
    height: 30px;

    background: #EDFFF6;
    border: 1px solid #09B530;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.priority1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    width: 120px;
    height: 30px;

    background: #FFECEC;
    border: 1px solid #F80000;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

}